main {
  min-height: 100vh;
  padding-block: 8rem;
  display: flex;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  height: min-content;
  padding: 2rem;
  border-radius: 4px;
  background-color: whitesmoke;
}

span {
  color: var(--primary-color);
}

form {
  display: flex;
  column-gap: 1rem;
}

form button {
  padding: 0.6rem 1rem;
  border-radius: 4px;
  font-weight: 600;
  color: #ffff;
}

button[type="button"] {
  background-color: var(--cs-red);
}

button[type="submit"] {
  background-color: var(--cs-green);
}
